<?xml version="1.0" encoding="utf-8"?>
<module>
<name>Links</name>
<version>100</version>
<defaultcat>advanced</defaultcat>
<desc>Links to other websites and web applications</desc>
<authorname>baldman</authorname>
<authoremail>buznbox@gmail.com</authoremail>
<authorurl>http://zppy.info.tm/</authorurl>
<updateurl></updateurl>
</module>